.form-wrapper.row
  = form_for :picture, class: 'form-horizontal' ,url: pictures_path do |f|
    .form-group
      = f.label :image
      = f.file_field :image
    .form-group
      = f.label :description
      = f.text_field :description
    .form-group
      = f.submit 'Upload'