.pictures-wrapper.row
  .picture
    .picture-head
      .user-name
        = link_to @picture.user.user_name, user_path(@picture.user)

    .image.center-block= image_tag @picture.image.url(:medium), class: 'img-responsive', alt: @picture.description

    .picture-bottom
      .description
        .user-name
          = link_to @picture.user.user_name, user_path(@picture.user)
        .description-content
          = @picture.description

      - if @picture.comments.any?
        - @picture.comments.each do |comment|
          .comment
            .user-name
              = link_to @picture.user.user_name, user_path(@picture.user)
            .comment-content
              = comment.content
            - if comment.user == current_user
              = link_to picture_comment_path(@picture, comment), method: :delete do
                %span(class="glyphicon glyphicon-remove delete-comment")


    .comment-like-form.row
      .like-button.col-sm-1
        %span(class="glyphicon glyphicon-heart-empty")
      .comment-form.col-sm-11
        = form_for [@picture, @picture.comments.build] do |f|
          = f.text_field :content, placeholder: 'Add a comment...'
          = f.hidden_field :user_id, value: current_user.id
          = f.submit 'Add Comment'

    .text-center.edit-links
      - if current_user == @picture.user
        = link_to 'Edit', edit_picture_path(@picture)
        |
      = link_to 'Back', pictures_path
