.pictures-wrapper.row
  .picture
    .picture-head
      .user-name
        = link_to @picture.user.user_name, user_path(@picture.user)
      .time-ago
        = time_ago_in_words @picture.created_at

    .image.center-block= image_tag @picture.image.url(:medium), class: 'img-responsive', alt: @picture.description

    .picture-bottom
      .description
        .user-name
          = link_to @picture.user.user_name, user_path(@picture.user)
        .description-content
          = @picture.description

      .comments{id: "comments_#{@picture.id}"}
        - if @picture.comments.any?
          = render @picture.comments, picture: @picture


    .comment-like-form.row
      .like-button.col-sm-1
        %span(class="glyphicon glyphicon-heart-empty")
      .comment-form.col-sm-11
        = form_for [@picture, @picture.comments.build], remote: true do |f|
          .input-group
            = f.text_field :content, placeholder: 'Add a comment...', class: 'comment_content form-control', id: "comment_content_#{@picture.id}"
            = f.hidden_field :user_id, value: current_user.id
            %span.input-group-btn #{f.button 'Add', type: :submit, class: 'btn btn-secondary'}

    .text-center.edit-links
      - if current_user == @picture.user
        = link_to 'Edit', edit_picture_path(@picture)
        |
      = link_to 'Back', pictures_path
